html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url('../public/montserrat/Montserrat-Thin.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url('../public/montserrat/Montserrat-ThinItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url('../public/montserrat/Montserrat-ExtraLight.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url('../public/montserrat/Montserrat-ExtraLightItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('../public/montserrat/Montserrat-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('../public/montserrat/Montserrat-LightItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../public/montserrat/Montserrat-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../public/montserrat/Montserrat-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../public/montserrat/Montserrat-MediumItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../public/montserrat/Montserrat-SemiBold.ttf') format('ttf');
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../public/montserrat/Montserrat-SemiBoldItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../public/montserrat/Montserrat-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../public/montserrat/Montserrat-BoldItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../public/montserrat/Montserrat-ExtraBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../public/montserrat/Montserrat-ExtraBoldItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('../public/montserrat/Montserrat-Black.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('../public/montserrat/Montserrat-BlackItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../public/montserrat/DMSans-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../public/montserrat/DMSans-Italic.ttf') format('ttf');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../public/montserrat/DMSans-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../public/montserrat/DMSans-MediumItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../public/montserrat/DMSans-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../public/montserrat/DMSans-BoldItalic.ttf') format('ttf');
}


.body-page-transition{
  overflow: hidden;
}

.body-page-transition #page-transition {
  position: fixed;
  z-index: 9999;
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#page-transition > div{
  /* &:after{
    content: "";
    background-image: url("../img/theme/img-1-1000x600.jpg");
    background-size: cover;
    position: fixed;
    z-index: 9998;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    z-index: 9999;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
  } */
}
.page-transition-wrapper-div {
  margin: 100px auto;
  padding: 0px;
  max-width: 360px;
  text-align: center;
  position: relative;
  z-index: 9999;
  top: 0;
}
.page-transition-icon-wrapper {
  display: block;
}
