html,
body {
  padding: 0;
  margin: 0;
  font-family: 'DM Sans';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  src: url('../font/DM_Sans/DMSans-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  src: url('../font/DM_Sans/DMSans-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  src: url('../font/DM_Sans/DMSans-ExtraLight.ttf') format('truetype');
}



@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 100;
  src: url('../font/DM_Sans/DMSans-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 200;
  src: url('../font/DM_Sans/DMSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../font/DM_Sans/DMSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../font/DM_Sans/DMSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../font/DM_Sans/DMSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../font/DM_Sans/DMSans-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 900;
  src: url('../font/DM_Sans/DMSans-Bold.ttf') format('truetype');
}


.body-page-transition {
  overflow: hidden;
}

.body-page-transition #page-transition {
  position: fixed;
  z-index: 9999;
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}


.page-transition-wrapper-div {
  margin: 100px auto;
  padding: 0px;
  max-width: 360px;
  text-align: center;
  position: relative;
  z-index: 9999;
  top: 0;
}

.page-transition-icon-wrapper {
  display: block;
}

#radialBar .apexcharts-tooltip {
  color: #f3f3f3 !important;
  border: #f3f3f3 !important;
}

.Toastify__toast{
  font-family: 'DM Sans' !important;
}
